@model RavenOverflow.Web.Models.ViewModels.AuthenticationViewModel
<span id="hlinks-user">
    @if (Model != null && Model.IsAuthenticated)
    {
        @:Welcome <strong>@Model.Name</strong>! 
        if (!string.IsNullOrEmpty(Model.PictureUri))
        {
            <img src="@Model.PictureUri" alt="@Model.Name" height="24" width="24"/>
        }
        <ul>
            <li>Settings</li>
            <li>@Html.ActionLink("LogOff", "SignOut", "Home", new { Area = ""}, null)</li>
        </ul>
    }
    else
    {
        <ul>
            <li>@Html.ActionLink("Log On", "Authenticate",  "Home", new {Area = "", returnUrl = HttpContext.Current.Request.RawUrl}, null)</li>
        </ul>
    }
</span>